<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<title>서브페이지 | KB스타게이트</title>
<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" href="">
<!-- 공통 웹자원 : 맨 위에 위치 -->
<link type="text/css" rel="stylesheet" href="../common/css/jquery-confirm.css">
<script type="text/javascript" src="../common/js/jquery-1.12.4.min.js"></script>

<!-- 해당페이지만 사용 : 슬라이드  -->
<link type="text/css" rel="stylesheet" href="../common/css/slick.css">
<script type="text/javascript" src="../common/js/slick.js"></script>

<!-- 공통 웹자원 : 맨 마지막 위치 -->
<link type="text/css" rel="stylesheet" href="../common/css/css.css">
<script type="text/javascript" src="../common/js/extension.js"></script>

</head>

<body>
<!-- wrap -->
<div id="wrap" class="sub">
    <!-- header -->
	<header id="header">
		<div class="inner">
			<div class="fl"><a href="#" class="btnNavi prev"><span class="ico">이전</span></a></div>
			<div class="tit"><h1>서브 타이틀</h1></div>
		</div>
	</header>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- content -->
		<div class="content">
			내용 노출

		</div>
		<!-- //content -->

		<!-- button area -->
		<div class="btmBtnWrap">
			<ul>
				<li><a href="#" class="btn lg gr">버튼</a></li>
				<li><a href="#" class="btn lg de">버튼</a></li>
			</ul>
		</div>
		<!-- //button area -->
	</div>
	<!-- //container -->
</div>
<!-- //wrap -->
</body>
</html>
