<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<title>서브페이지 | KB스타게이트</title>
<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" href="">
<!-- 공통 웹자원 : 맨 위에 위치 -->
<link type="text/css" rel="stylesheet" href="../common/css/jquery-confirm.css">
<script type="text/javascript" src="../common/js/jquery-1.12.4.min.js"></script>

<!-- 개발 : 팝업 -->
<script type="text/javascript" src="../common/js/jquery-confirm.min.js"></script>

<!-- 해당페이지만 사용 : 슬라이드  -->
<link type="text/css" rel="stylesheet" href="../common/css/slick.css">
<script type="text/javascript" src="../common/js/slick.js"></script>

<!-- 공통 웹자원 : 맨 마지막 위치 -->
<link type="text/css" rel="stylesheet" href="../common/css/css.css">
<script type="text/javascript" src="../common/js/extension.js"></script>

</head>

<body>
<!-- wrap -->
<div id="wrap" class="sub">
    <!-- header -->
	<header id="header">
		<div class="inner">
			<div class="tit"><h1>BBQ Pay</h1></div>
			<div class="fr"><a href="#"><span class="ico">BBQ 앱 홈</span></a></div>
		</div>
	</header>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- breadcrumb -->
		<div class="breadCrumb">
			<div class="fl"><a href="#" class="btn back"><span class="ico">이전</span></a></div>
			<div class="tit">타이틀 노출</div>
			<div class="fr"><a href="#" class="btn home"><span class="ico">BBQ 앱 홈</span></a></div>
		</div>
		<!-- //breadcrumb -->

		<!-- content -->
		<div class="content">
			내용 노출
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->

	<!-- footer -->
	<footer id="footer">

	</footer>
	<!-- //footer -->

</div>
<!-- //wrap -->

<!-- 개발사용 : 팝업 -->
<script type="text/javascript" src="../common/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="../common/js/jquery-confirm.min.js"></script>
</body>
</html>
