.map {
  min-height: calc(100vh - 280rem);
  background-color: #fff;
  padding: 190rem 0 214rem; }
  @media all and (min-width: 1920px) {
    .map {
      padding: 190px 0 214px; } }
  @media all and (max-width: 768px) {
    .map {
      padding: 122rem 15rem 56rem; } }
  .map-wrap {
    max-width: 1600rem;
    margin: 0 auto; }
    @media all and (min-width: 1920px) {
      .map-wrap {
        max-width: 1600px; } }
    @media all and (max-width: 768px) {
      .map-wrap {
        max-width: none; } }
  .map__mtit {
    margin: 0 0 46rem;
    font-family: "ambit-semi";
    font-size: 82rem;
    text-align: center; }
    @media all and (min-width: 1920px) {
      .map__mtit {
        margin: 0 0 46px;
        font-size: 82px; } }
    @media all and (max-width: 768px) {
      .map__mtit {
        font-size: 40rem;
        margin: 0 0 14rem;
        text-align: left;
        text-indent: -3rem;
        letter-spacing: -1.1rem; } }
  .map__img {
    width: 800rem; }
    @media all and (min-width: 1920px) {
      .map__img {
        width: 800px; } }
    @media all and (max-width: 768px) {
      .map__img {
        width: 100%; } }
  .map__sec {
    width: 760rem; }
    @media all and (min-width: 1920px) {
      .map__sec {
        width: 760px; } }
    @media all and (max-width: 768px) {
      .map__sec {
        width: 100%; } }
  .map__info {
    border-top: 1px solid  #000; }
    .map__info--1 {
      padding: 22rem 0 40rem 0; }
      @media all and (min-width: 1920px) {
        .map__info--1 {
          padding: 22px 0 40px 0; } }
      @media all and (max-width: 768px) {
        .map__info--1 {
          padding: 30rem 0 24rem 0;
          border-top: none; } }
    .map__info--2 {
      padding: 24rem 0 86rem 0; }
      @media all and (min-width: 1920px) {
        .map__info--2 {
          padding: 24px 0 86px 0; } }
      @media all and (max-width: 768px) {
        .map__info--2 {
          padding: 16rem 0 50rem 0; } }
    .map__info--3 {
      padding: 24rem 0 0 0; }
      @media all and (min-width: 1920px) {
        .map__info--3 {
          padding: 24px 0 0 0; } }
      @media all and (max-width: 768px) {
        .map__info--3 {
          padding: 15rem 0 0 0; } }
  .map__tit {
    font-family: "Noto Sans KR Medium";
    font-size: 18rem;
    line-height: 1.78;
    letter-spacing: -1rem; }
    @media all and (min-width: 1920px) {
      .map__tit {
        font-size: 18px;
        letter-spacing: -1rem; } }
    @media all and (min-width: 769px) and (max-width: 1200px) {
      .map__tit {
        font-size: 21rem; } }
    @media all and (max-width: 768px) {
      .map__tit {
        font-size: 12rem;
        line-height: 1.7; } }
  .map__txt {
    width: 380rem; }
    @media all and (min-width: 1920px) {
      .map__txt {
        width: 380px; } }
    @media all and (max-width: 768px) {
      .map__txt {
        width: 200rem; } }
  .map__txt-main {
    display: block;
    margin: 0 0 14rem 0;
    font-family: "Noto Sans KR Medium";
    font-size: 46rem;
    line-height: 1.33;
    letter-spacing: -0.4rem; }
    @media all and (min-width: 1920px) {
      .map__txt-main {
        margin: 0 0 14px 0;
        font-size: 46px;
        letter-spacing: -0.4px; } }
    @media all and (max-width: 768px) {
      .map__txt-main {
        margin: 0 0 9rem 0;
        font-size: 24rem;
        line-height: 1.33;
        letter-spacing: -1rem; } }
  .map__txt-sub {
    margin: 0 0 160rem 0;
    font-family: "Noto Sans KR Medium";
    font-size: 18rem;
    line-height: 1.8;
    letter-spacing: -0.6rem; }
    @media all and (min-width: 1920px) {
      .map__txt-sub {
        margin: 0 0 160px 0;
        font-size: 18px;
        letter-spacing: -0.6px; } }
    @media all and (max-width: 768px) {
      .map__txt-sub {
        margin: 0 0 80rem 0;
        font-size: 12rem; } }
  .map__tel {
    font-family: "ambit-semi";
    font-size: 48rem;
    letter-spacing: -0.5rem; }
    @media all and (min-width: 1920px) {
      .map__tel {
        font-size: 48px;
        letter-spacing: -0.5px; } }
    @media all and (max-width: 768px) {
      .map__tel {
        font-size: 24rem;
        letter-spacing: -0.3rem; } }
  .map__hours-itm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0 0 0; }
    .map__hours-itm:first-child {
      margin: 0; }
    @media all and (max-width: 768px) {
      .map__hours-itm {
        margin: 0; } }
  .map__hours-day {
    width: 120rem;
    margin: 0 68rem 0 0;
    font-family: "Noto Sans KR Medium";
    font-size: 20rem;
    line-height: 1.6;
    letter-spacing: -0.7rem; }
    @media all and (min-width: 1920px) {
      .map__hours-day {
        width: 120px;
        margin: 0 68px 0 0;
        font-size: 20px;
        letter-spacing: -0.7px; } }
    @media all and (max-width: 768px) {
      .map__hours-day {
        width: 98rem;
        margin: 0;
        font-size: 14rem;
        letter-spacing: -0.7px; } }
  .map__hours-time {
    font-family: "ambit-semi";
    font-size: 20rem;
    line-height: 1.6; }
    @media all and (min-width: 1920px) {
      .map__hours-time {
        font-size: 20px; } }
    @media all and (max-width: 768px) {
      .map__hours-time {
        font-size: 14rem; } }

/*# sourceMappingURL=map.css.map */
