/* common */
*{-webkit-text-size-adjust:none}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;}body{-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:16px;line-height:1.3;font-family:'Nanum Barun Gothic' , 'Nanum Gothic' , 'Malgun Gothic', Arial, Dotum, Gulim, Verdana, Tahoma ,sans-serif;font-weight:normal;color:#666;}ul, ol, li{list-style:none}fieldset, img{border:0}br{letter-spacing:normal}p{letter-spacing:normal}hr{display:none}address, caption, em, var{padding:0;margin:0;font-style:normal;font-weight:normal}a{text-decoration:none;color:#666;}a[href^="tel"]{font-style:normal}a:hover, a:active, a:active{text-decoration:none}input, textarea, select{letter-spacing:normal}input{margin:0;padding:0;}button {*-webkit-appearance:none;-moz-appearance:none;appearance:none;}button:active img , button:focus img {position:relative;top:0;left:0;}img{border:0;vertical-align:top}legend, caption{position:absolute;left:-1000%;top:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}table{width:100%;border:0;border-spacing:0;}input::-ms-clear {display:none;}input[type="text"] , input[type="password"] {width:100%;height:33px;border:1px solid #eaeaea;font-family:'Nanum Barun Gothic' , 'Nanum Gothic' , 'Malgun Gothic', Arial, Dotum, Gulim, Verdana, Tahoma ,sans-serif;font-size:16px;line-height:32px;color:#666;text-indent:8px;}input::-webkit-input-placeholder , textarea::-webkit-input-placeholder {font-family:'Nanum Barun Gothic' , 'Nanum Gothic' , 'Malgun Gothic', Arial, Dotum, Gulim, Verdana, Tahoma ,sans-serif;font-size:16px;font-weight:normal;color:#666;}textarea {font-family:'Nanum Barun Gothic' , 'Nanum Gothic' , 'Malgun Gothic', Arial, Dotum, Gulim, Verdana, Tahoma ,sans-serif;font-size:16px;line-height:20px;color:#666;}select {height:33px;margin:0;padding:0;border:1px solid #eaeaea;font-family:'Nanum Barun Gothic' , 'Nanum Gothic' , 'Malgun Gothic', Arial, Dotum, Gulim, Verdana, Tahoma ,sans-serif;font-size:16px;line-height:30px;color:#666;outline:none;background:none;}

/* common */
html ,body, section, #wrap{width:100%; height: 100%; }
.box{position: relative; width:100%; height: 100%;}
.header{position: fixed; width:100%; height:135px; border: 1px solid #ccc; background: #fff; z-index: 10000;}
.header .content{position: relative; width:100%; height: 85px; margin: 0 auto;  border-bottom:1px solid #ccc; background: #fff;z-index: 1000;}
.header h1{overflow: hidden;}
.header h1 a{position: absolute; overflow: hidden; left:45%; top:24px; width:170px; height: 33px; background:url(../images/logo.png); background-size: 170px 33px; text-indent: -9999px;}
.header.sub-menu-area-frame{position: fixed; width:100%; }
.header .sub-menu-area{width:1170px; height: 49px; margin: 0 auto; background: #fff; text-align: center; z-index: 1000;}
.header ul.sub-menu li {display: inline-block; padding:0px 85px 0px 85px; font-size:20px; font-weight:bold; text-align:center; line-height: 50px; }
footer{width:100%; background: #434343; color:#bfbfbf; line-height: 30px;}
footer .content{position: relative; width:1170px; margin: 0 auto; padding:38px 0 33px 0; text-align: center}


.main .nav-frame{position: fixed; width:1062px; margin: 0 auto; top:40%; left:0; height: 0; right:-200px; z-index: 101;}
.main .nav-frame .nav-area{float: right; width:3px; height: 165px; z-index: 100;}
.main .nav-frame .nav-area a{position: relative; display: inline-block; width:29px; height: 29px; background: url(../images/navBtn.png)no-repeat center; font-size:14px; font-weight:bold; color:#333; cursor: pointer;}
.main .nav-frame .nav-area a:after{display: none;position: absolute; left:33px; top:2px; width:90px; height: 22px; line-height: 22px; background: #e9e9e9; text-align: center; border-radius: 10px;}
.main .nav-frame .nav-area a.on:after {display: block;}
.main .nav-frame .nav-area a.on{background: url(../images/nav_active.png) no-repeat center;}
.main .nav-frame .nav-area a.first:after{content: "main";}
.main .nav-frame .nav-area a.second:after{content: "회사소개";}
.main .nav-frame .nav-area a.third:after{content: "제품소개";}
.main .nav-frame .nav-area a.forth:after{content: "기술자료실";}
.main .nav-frame .nav-area a.fifth:after{content: "Contact Us";}
#visual1{overflow: hidden; width:100%;}

#visual1 #visual {position: relative; height: 100%; margin: 0 auto;}
#visual1 #visual .swipe-wrap li{height: 100%;}
#visual1 #visual .swipe-wrap li a {height: 100%;}
#visual1 #visual .swipe-wrap li a img{width: 100%; height: 51vw;}
#visual1 #visual .touch_bullet{position: relative; left:47%; margin-top: -175px; margin-left: 3px;}
#visual1 #visual .touch_bullet li{float: left; margin-left: 10px;}
#visual1 #visual .touch_bullet li a {display: block;width: 15px;height: 15px; background: url(images/visual_bullet_off.png) no-repeat 0 0;}
#visual1 #visual .touch_bullet li.on a {background-image: url(images/visual_bullet_on.png);}
.swipe {overflow: hidden; visibility: hidden; position: relative;}
.swipe-wrap { overflow: hidden; position: relative;}
.swipe-wrap > li { float:left; width:100%; position: relative;}
#visual1 #visual .touch_bullet li a {display: block;width: 15px;height: 15px; background: url(images/visual_bullet_off.png) no-repeat 0 0;}
#visual1 #visual .touch_bullet li.on a {background-image: url(images/visual_bullet_on.png);}
#visual2{background: url(../images/main_bg_2_main.jpg) no-repeat; background-size: contain; background-size: 100% 51vw;}
#visual2 .content{width:70.5%; height: auto; margin: 0 auto; text-align:center;}
#visual2 .content .title{display: block; width:100%; padding-top:81px; color:#333; font-size:20px; font-weight: bold;}
#visual2 .content .sub-title{display: block; width:100%; padding-top:22px; color:#333; font-size:24px; font-size:1.5em; font-weight: normal; color:#999;}
#visual2 .content .main-title{width:100%;}
#visual2 .content .main-title .main-title-area{float: right; width:45%; text-align:left; }
#visual2 .content .main-title .main-title-area .title-sub{display: block; padding-top:197px; font-size:18px; letter-spacing: -2px; font-weight: 550;}
#visual2 .content .main-title .main-title-area .ment{display: block; padding:15px 200px 0px 10px; font-size:41px; font-weight: 545; color:#333; line-height: 65px;}
#visual2 .content .main-title .main-title-area .detail{display: block; padding-right: 163px; padding-top:35px; font-size:16px; line-height: 30px;}
#visual3{background: url(../images/main_bg_3_main.jpg) no-repeat; background-size: contain; background-size: 100% 51vw;}
#visual3 .content{width:70.5%; height: auto; margin: 0 auto;text-align:center;}
#visual3 .content .title{display: block; width:100%; padding-top:81px; color:#fff; font-size:20px; font-weight: bold;}
#visual3 .content .sub-title{display: block; width:100%; padding-top:22px; color:#333; font-size:24px; font-size:1.5em; font-weight: normal; color:#fff;}
#visual3 .content .main-title{width:988px; height: 496px; margin: 0 auto; margin-top:100px; }
#visual3 .content .main-title .left-area{float: left; width:42.5%;  height: auto; padding-top:130px; padding-right:100px;text-align: left;}
#visual3 .content .main-title .left-area span{float: left; font-size:50px; color:#fff; font-weight:bold;}
#visual3 .content .main-title .right-area{float: left; width:47.3%; height: 496px;}
#visual3 .content .main-title .right-area .img-area-frame{float: left; width:50%;height:248px; padding-top:10px;}
#visual3 .content .main-title .right-area .img-area-frame .img-area{width:100%; height: 200px;}
#visual3 .content .main-title .right-area .img-area-frame .img-area img{display: block; margin: 0 auto;}
#visual3 .content .main-title .right-area .img-area-frame span{display: block; width:100%; text-align: center; color:#fff;}
#visual4{background: url(../images/main_bg_4_main.jpg) no-repeat; background-size: contain; background-size: 100% 51vw;}
#visual4 .content{width:70.5%; height: auto; margin: 0 auto; text-align:center;}
#visual4 .content .title{display: block; width:100%; padding-top:81px; color:#333; font-size:20px; font-weight: bold;}
#visual4 .content .sub-title{display: block; width:100%; padding-top:22px; color:#333; font-size:24px; font-size:1.5em; font-weight: normal; color:#333;}
#visual4 .content .main-title{width:100%; height: auto;}
#visual4 .content .cont-area{padding:5px 5px 5px 5px;}
#visual4 .content .content-area .sub-main-title{padding-top:70px; color:#333; font-size:20px;}
#visual4 .content .main-title .main-title-area{float: right; width:45%; text-align:left; }
#visual4 .frame{overflow: hidden; width: 1167px; height:472px; position: relative; margin: 0 auto; margin-top:130px; }
#visual4 .frame ul{width: 1465px; height: 100%; position: absolute;}
#visual4 .frame ul li{float: left; overflow: hidden; width: 282px; height: 472px; margin-right: 10px; background: #fff;}
#visual4 .frame ul li a{display: block; width: 282px; height: 472px; position: relative; box-sizing: border-box; padding: 300px 15px 15px 15px; border: 1px solid #dddddd; text-align: right;}
#visual4 .frame ul li a.content-area1{background: url(../images/style1.jpg) no-repeat top center; background-size: 100%;}
#visual4 .frame ul li a.content-area2{background: url(../images/style2.jpg) no-repeat top center; background-size: 100%;}

#visual4 .frame ul li a > span{position: absolute; top: 0; left: 0; padding: 10px; padding-right:0px; padding-top:67px; text-align: left;}
#visual4 .frame ul li a > span.text{ font-size:30px; color: #fff; }
#visual4 .frame ul li a .img-pos {display: block; position: relative; top:50px; left: 188px; }
#visual4 .frame ul li a > .small-title{color:#d1af49; font-size:20px; font-weight: bold; padding-top:40px;}
#visual4 .frame ul li a dt{color: #111111; font-size:18px; text-align: left; margin-bottom: 2px;}
#visual4 .frame ul li a dt .indent{display: block; padding-left:20px; text-indent: -21px;}
#visual4 .frame ul li a dt .indent1{display: block; padding-left:16px; text-indent: -14px;}
#visual4 .frame ul li a dt .indent2{display: block; padding-left:13px; text-indent: -15px;}
#visual4 .frame ul li a dd .side{display: block; position: absolute; bottom: 15px; right: 15px; }
#visual4 .controls a{display: block; position: absolute; top: 50%; font-size: 30px; color: red;}
#visual4 .controls a.nextBtn{right: 325px; display: block; height: 51px; position: absolute; text-indent: -99999px; width: 26px; background: url(../images/slide_nav_st1.png) no-repeat right center;}
#visual4 .controls a.prevBtn{left: 325px; display: block; height: 51px; position: absolute; text-indent: -99999px; width: 26px; background: url(../images/slide_nav_st1.png) no-repeat left center;}
#visual5{width:100%;}
#visual5 .content{width:70.5%; height: auto; margin: 0 auto; text-align:center;}
#visual5 .content .title{display: block; width:100%; padding-top:81px; color:#333; font-size:20px; font-weight: bold;}
#visual5 .content .address{display: block; width:100%; padding-top:22px; padding-bottom:45px; color:#333; font-size:24px; font-size:1.5em; color:#333;}
#visual5 .content .detail{width:100%; height: 158px; padding-top:15px; text-align: center;font-size:20px;}
#visual5 .content .detail .tel{font-size:34px; font-weight: bold; padding-left: 12px;}

/* sub */
.empty-div{width:100%; height: 135px; }
.product-title{width:100%; height: 268px; background: url(../images/sub_title.jpg) no-repeat center center;}
.product-title .sub-title{display: block; font-size:16px; font-weight: bold; text-align: center; line-height: 100px; color:#fff;}
.product-title .sub-title-sub{display: block; padding-top:20px; text-align: center; font-weight:500; font-size:20px; color:#333;}
.product-title .sub-title-main{display: block; padding-top:40px; font-size:36px; font-weight:bold; text-align:center; }
section.sub-page{width:1170px; height: auto;  margin: 0 auto;}
.sub-page .product-list{position: relative; width:100%; }
.sub-page .tab-menu{ width:100%; height: 100px; margin-top: 30px; }
.sub-page .tab-menu ul.tab-menu-list{display: block; width:346px; margin: 0 auto;}
.sub-page .tab-menu ul.tab-menu-list li{position: relative;float: left; width:173px; height:37px; line-height: 37px; text-align:center; box-sizing: border-box;}
.sub-page .tab-menu ul.tab-menu-list li:nth-child(2)::before{content: ""; position: absolute; left: 0; top:12px; width:1px; height:19px; background: #ccc;}
.sub-page .tab-menu ul.tab-menu-list li a .active{font-weight:bold; color:#00559c; border-bottom:2px solid #00559c}
.sub-page .product-list-view{position: relative; width:1170px; min-height: 800px; margin: 0 auto; }
.sub-page .product-list-view .pic-into-area{width:1170px; height: auto; margin-top: 50px; overflow: auto; min-height: 1190px;}
.sub-page .product-list-view .pic-area{float: left; width:286px; height: 254px; margin-bottom: 30px;}
.sub-page .product-list-view .pic-area .img-area{width:286px; height: 211px;}
.sub-page .product-list-view .pic-area .img-area img{display: block; width:65%; margin: 0 auto;}
.sub-page .product-list-view .pic-area .wheat-title{display: block; width:100%; font-size:16px; font-weight:bold; text-align:center;}
#add-btn{display: block; overflow: hidden; width:230px; height: 60px; margin: 0 auto; margin-bottom: 45px; margin-top:20px; background: #fff; text-align: center; font-size:16px; line-height: 60px; color:#333; border:3px solid #eaeaea; cursor: pointer;}
#add-btn img{margin-top: 27px; margin-left: 10px;}
.rest{display: none;}

@media all and (max-width:768px) {

  #wrap {overflow-x: hidden; width:100%;}

  #wrap.sub1{width:max-content;}
  .sub-page{width:100%;}
  #wrap.sub1 .product-list{width:98%;}
}
