@charset "utf-8";
/* ���� */
#mainContainer .inner {
  padding: 0 50px;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
#mainContainer .inner h2 {
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: -0.4px;
}
#mainContainer .inner h2 span {
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 41px;
  font-size: 28px;
  font-weight: 300;
  color: #222;
}
#mainContainer .inner h2 span:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  opacity: 0.25;
  background: #f1843b;
}
#mainContainer .inner h2 span strong {
  font-weight: 700;
}
@media (max-width: 1160px) {
  #mainContainer .inner {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  #mainContainer .inner h2 {
    margin-bottom: 20px;
  }
  #mainContainer .inner h2 span {
    line-height: 29px;
    font-size: 20px;
  }
  #mainContainer .inner h2 span:before {
    left: -10px;
    width: 22px;
    height: 22px;
  }
}

/* 1�� */
#mainContainer .cont01 {
  padding: 33px 0 42px;
  background: #f8f8f8;
}
#mainContainer .cont01 .top {
  position: relative;
  overflow: hidden;
  margin: 0 -50px;
  padding: 20px 50px;
}
#mainContainer .cont01 .top .swiper01 {
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background: transparent linear-gradient(79deg, #ff6b33 0%, #ee3385 100%) 0% 0% no-repeat padding-box;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide {
  display: block;
  padding-top: 86px;
  height: 148px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 24px;
  background-size: 68px auto;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide p {
  display: table;
  width: 100%;
  transition: margin 0.2s;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide p span {
  display: table-cell;
  height: 44px;
  line-height: 22px;
  vertical-align: middle;
  font-size: 15px;
  color: #fff;
  letter-spacing: -0.32px;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v1 {
  background-image: url("../images/main/ico0101.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v2 {
  background-image: url("../images/main/ico0102.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v3 {
  background-image: url("../images/main/ico0103.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v4 {
  background-image: url("../images/main/ico0104.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v5 {
  background-image: url("../images/main/ico0105.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v6 {
  background-image: url("../images/main/ico0106.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v7 {
  background-image: url("../images/main/ico0107.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v8 {
  background-image: url("../images/main/ico0108.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide:before {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  background-size: 68px auto;
  background-repeat: no-repeat;
  background-position: center 34px;
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide:hover {
  z-index: 101;
  background: none !important;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide:hover:before {
  opacity: 1;
  background-position: center 20px;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide:hover p {
  margin-top: -10px;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide:hover p span {
  color: #222;
  font-weight: 700;
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v1:hover:before {
  background-image: url("../images/main/ico0101-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v2:hover:before {
  background-image: url("../images/main/ico0102-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v3:hover:before {
  background-image: url("../images/main/ico0103-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v4:hover:before {
  background-image: url("../images/main/ico0104-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v5:hover:before {
  background-image: url("../images/main/ico0105-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v6:hover:before {
  background-image: url("../images/main/ico0106-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v7:hover:before {
  background-image: url("../images/main/ico0107-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-slide.v8:hover:before {
  background-image: url("../images/main/ico0108-on.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-button-next,
#mainContainer .cont01 .top .swiper01 .swiper-button-prev {
  z-index: 101;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #fff !important;
}
#mainContainer .cont01 .top .swiper01 .swiper-button-next {
  right: 2px;
  background: url("../images/main/btn-next.png") no-repeat center;
  background-size: 9px auto;
}
#mainContainer .cont01 .top .swiper01 .swiper-button-prev {
  left: 2px;
  background: url("../images/main/btn-prev.png") no-repeat center;
  background-size: 9px auto;
}
#mainContainer .cont01 .top .swiper01 .swiper-button-next.swiper-button-disabled {
  background-image: url("../images/main/btn-next-off.png");
}
#mainContainer .cont01 .top .swiper01 .swiper-button-prev.swiper-button-disabled {
  background-image: url("../images/main/btn-prev-off.png");
}
#mainContainer .cont01 .top:before,
#mainContainer .cont01 .top:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 45px;
  height: 100%;
  background: #f8f8f8;
}
#mainContainer .cont01 .top:after {
  left: auto;
  right: 0;
}
#mainContainer .cont01 .bot {
  position: relative;
}
#mainContainer .cont01 .bot .swiper02 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 54.3%;
}
#mainContainer .cont01 .bot .swiper02 .swiper-slide {
  display: block;
}
#mainContainer .cont01 .bot .swiper02 .swiper-slide img {
  display: block;
  width: 100%;
}
#mainContainer .cont01 .bot .swiper02 .swiper-slide img + img {
  display: none;
}
#mainContainer .cont01 .bot .swiper02 .btnArea {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 15px;
  text-align: center;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > * {
  display: inline-block;
  height: 15px;
  vertical-align: top;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > * + * {
  margin-left: 8px;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .btnStop {
  width: 13px;
  text-indent: -9999px;
  background: url("../images/main/btn-stop.png") no-repeat center;
  background-size: auto 120%;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .btnPlay {
  display: none;
  width: 13px;
  text-indent: -9999px;
  background: url("../images/main/btn-play.png") no-repeat center;
  background-size: auto 120%;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination {
  position: static;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  vertical-align: top;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background: #fff;
  opacity: 1;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}
#mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination .swiper-pagination-bullet-active {
  background: transparent url("../images/main/bl-on.png") 0 0 no-repeat;
  background-size: 100%;
}
#mainContainer .cont01 .bot .swiper02 .swiper-button-next,
#mainContainer .cont01 .bot .swiper02 .swiper-button-prev {
  width: 40px;
  height: 50px;
  background-size: auto 50px !important;
}
#mainContainer .cont01 .bot .swiper02 .swiper-button-next {
  right: 0;
  background: url("../images/main/btn-next-w.png") no-repeat left center;
}
#mainContainer .cont01 .bot .swiper02 .swiper-button-prev {
  left: 0;
  background: url("../images/main/btn-prev-w.png") no-repeat right center;
}
#mainContainer .cont01 .bot .quickBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 44.4%;
  height: 100%;
}
#mainContainer .cont01 .bot .quickBtn a {
  display: block;
  position: absolute;
  padding: 16px 20px;
  border-radius: 10px;
  width: 49%;
  height: 49%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
  background-color: #fff;
  background-size: 50.8% auto;
  background-repeat: no-repeat;
  background-position: 95.8% 97.4%;
}
#mainContainer .cont01 .bot .quickBtn a.v1 {
  top: 0;
  left: 0;
  background-image: url("../images/main/ico0201.png");
}
#mainContainer .cont01 .bot .quickBtn a.v2 {
  top: 0;
  right: 0;
  background-image: url("../images/main/ico0202.png");
}
#mainContainer .cont01 .bot .quickBtn a.v3 {
  bottom: 0;
  left: 0;
  background-image: url("../images/main/ico0203.png");
}
#mainContainer .cont01 .bot .quickBtn a.v4 {
  bottom: 0;
  right: 0;
  background-image: url("../images/main/ico0204.png");
}
#mainContainer .cont01 .bot .quickBtn a span {
  display: block;
  line-height: 24px;
  font-size: 16px;
  color: #454545;
}
#mainContainer .cont01 .bot .quickBtn a p {
  line-height: 33px;
  font-size: 21px;
  color: #222;
  font-weight: 700;
} /*20201027*/
@media (max-width: 1160px) {
  #mainContainer .cont01 {
    padding: 15px 0 40px;
  }
  #mainContainer .cont01 .top {
    margin: 0 -20px;
    padding: 20px 20px;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-button-next {
    right: 5px;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-button-prev {
    left: 5px;
  }
  #mainContainer .cont01 .top:before,
  #mainContainer .cont01 .top:after {
    width: 16px;
  }
  #mainContainer .cont01 .bot .swiper02 {
    width: 50%;
  }
  #mainContainer .cont01 .bot .quickBtn {
    width: 48%;
  }
  #mainContainer .cont01 .bot .quickBtn a {
    padding: 14px 20px;
    background-size: 40% auto;
  }
  #mainContainer .cont01 .bot .quickBtn a span {
    line-height: 20px;
    font-size: 14px;
  }
  #mainContainer .cont01 .bot .quickBtn a p {
    line-height: 24px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #mainContainer .cont01 {
    padding: 5px 0 30px;
  }
  #mainContainer .cont01 .top .swiper01 {
    padding: 0 10px;
    box-shadow: 0px 2px 4pxrgba (0, 0, 0, 0.29);
    background: transparent linear-gradient(56deg, #ff6b33 0%, #ee3385 100%) 0% 0% no-repeat padding-box;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-slide {
    padding-top: 65px;
    height: 118px;
    background-position: center 18px;
    background-size: 60px auto;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-slide:before {
    background-size: 60px auto;
    background-position: center 28px;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-slide:hover:before {
    background-position: center 8px;
  }
  #mainContainer .cont01 .top .swiper01 .swiper-button-next,
  #mainContainer .cont01 .top .swiper01 .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-size: 7px auto !important;
  }
  #mainContainer .cont01 .bot .swiper02 {
    width: 100%;
  }
  #mainContainer .cont01 .bot .swiper02 .swiper-slide img {
    display: none;
  }
  #mainContainer .cont01 .bot .swiper02 .swiper-slide img + img {
    display: block;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea {
    bottom: 8px;
    height: 10px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > * {
    height: 10px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > * + * {
    margin-left: 5px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > .btnStop {
    width: 8px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > .btnPlay {
    width: 8px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  #mainContainer .cont01 .bot .swiper02 .btnArea > .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 5px;
  }
  #mainContainer .cont01 .bot .swiper02 .swiper-button-next,
  #mainContainer .cont01 .bot .swiper02 .swiper-button-prev {
    display: none;
  }
  #mainContainer .cont01 .bot .quickBtn {
    position: relative;
    margin: 5px -5px -5px;
    width: auto;
    height: auto;
  }
  #mainContainer .cont01 .bot .quickBtn:after {
    display: block;
    content: "";
    clear: both;
  }
  #mainContainer .cont01 .bot .quickBtn:before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 11px;
    background: url("../images/main/ico-scroll.png") no-repeat center;
    background-size: auto 100%;
  }
  #mainContainer .cont01 .bot .quickBtn a {
    position: static;
    float: left;
    margin: 5px;
    padding: 10px;
    width: calc(50% - 10px);
    height: 110px;
    background-size: auto 58.2%;
    background-position: 94.9% 99.1%;
  }
  #mainContainer .cont01 .bot .quickBtn a span {
    line-height: 19px;
    font-size: 13px;
  }
  #mainContainer .cont01 .bot .quickBtn a p {
    line-height: 22px;
    font-size: 15px;
  }
}

/* 2�� */
#mainContainer .cont02 .inner {
  position: relative;
  padding: 43px 50px 60px;
}
#mainContainer .cont02 .inner .dlList {
  overflow: hidden;
}
#mainContainer .cont02 .inner .dlList dl {
  float: left;
  text-align: center;
}
#mainContainer .cont02 .inner .dlList dl:nth-child(1) {
  width: 17.4%;
}
#mainContainer .cont02 .inner .dlList dl:nth-child(2) {
  /*width: 22%;*/
  width: 35%;
  /*20201028*/
}
#mainContainer .cont02 .inner .dlList dl:nth-child(3) {
  /*width: 21.3%;*/
  width: 28%;
  /*20201028*/
}
#mainContainer .cont02 .inner .dlList dl:nth-child(4) {
  width: 19%;
}
#mainContainer .cont02 .inner .dlList dl:nth-child(5) {
  /*width: 20.3%;*/
  width: 19%; /*20201028*/
}
#mainContainer .cont02 .inner .dlList dl + dl dd {
  border-left: none;
}
#mainContainer .cont02 .inner .dlList dl dt {
  border-right: 1px solid #ccc;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #222;
}
#mainContainer .cont02 .inner .dlList dl dd {
  border: 1px solid #dfdfdf;
  border-top: none;
  height: 262px;
  background: #fcfcfc;
}
#mainContainer .cont02 .inner .dlList dl dd .mCustomScrollbar {
  padding: 0 20px;
}
#mainContainer .cont02 .inner .dlList dl dd ul li a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #222;
}
#mainContainer .cont02 .inner .dlList dl dd .txtList {
  margin: 10px 0;
}
#mainContainer .cont02 .inner .dlList dl dd .txtList li a {
  display: block;
  line-height: 40px;
  font-size: 15px;
  color: #767676;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList {
  margin: 20px 0 0;
}
/*20201028*/
#mainContainer .cont02 .inner .dlList dl dd:nth-child(4) .imgList {
  margin: 20px 20px 0;
}
/*20201028*/
#mainContainer .cont02 .inner .dlList dl dd .imgList:after {
  display: block;
  content: "";
  clear: both;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList li {
  float: left;
  margin-bottom: 23px;
  width: 50%;
}
/*20201028*/
#mainContainer .cont02 .inner .dlList dl:nth-child(1) dd .imgList li {
  width: 100%;
}
/*20201028*/
#mainContainer .cont02 .inner .dlList dl dd .imgList li a {
  display: block;
  position: relative;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList li a:before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  z-index: 1;
  margin-left: -23px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList li a img {
  margin-bottom: 5px;
  width: 44px;
  height: 44px;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList li a span {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #767676;
}
#mainContainer .cont02 .inner .dlList dl dd .imgList.v2 li {
  margin-bottom: 15px;
}
@media (max-width: 1160px) {
  #mainContainer .cont02 .inner {
    padding: 43px 20px 60px;
  }
  #mainContainer .cont02 .inner .dlList dl {
    position: relative;
    padding-left: 50px;
    float: none;
    width: 100% !important;
  }
  #mainContainer .cont02 .inner .dlList dl + dl dd {
    border-top: none;
  }
  #mainContainer .cont02 .inner .dlList dl dt {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50px;
    height: 100%;
    line-height: 24px;
    font-size: 16px;
  }
  #mainContainer .cont02 .inner .dlList dl dt span {
    position: absolute;
    top: 50%;
    left: 0;
    /*padding: 0 8px;*/ /*20201028*/
    width: 100%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    /*20201028*/
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    /*20201028*/
  }
  #mainContainer .cont02 .inner .dlList dl:first-child dt span {
    margin-top: -10px;
  }
  #mainContainer .cont02 .inner .dlList dl dd {
    border: 1px solid #dfdfdf;
    border-left: none;
    height: auto;
    max-height: 202px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .mCustomScrollBox {
    padding: 0;
  }
  #mainContainer .cont02 .inner .dlList dl dd .txtList {
    overflow: hidden;
    margin: 3px 25px 15px;
    text-align: left;
  }
  #mainContainer .cont02 .inner .dlList dl dd .txtList li {
    float: left;
    margin-top: 12px;
    width: 50%;
  }
  #mainContainer .cont02 .inner .dlList dl dd .txtList li + li {
    margin-top: 12px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .txtList li a {
    line-height: 24px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .imgList {
    margin: 20px 0;
    padding: 0 10px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .imgList li {
    margin-bottom: 0;
    width: 25%;
    max-width: 60px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .imgList li a img {
    margin-bottom: 5px;
    width: 44px;
    height: 44px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .imgList.v2 {
    padding-bottom: 0;
  }
  #mainContainer .cont02 .inner .dlList dl dd .imgList.v2 li {
    width: 50%;
    /*max-width: 100px;*/
    max-width: 120px; /*20201028*/
    margin-bottom: 15px;
  }
  /*20201028*/
  #mainContainer .cont02 .inner .dlList dl:nth-child(1) dd {
    max-height: 120px;
  }
  #mainContainer .cont02 .inner .dlList dl:nth-child(1) dd .imgList li {
    max-width: 50%;
    margin-bottom: 15px;
  }
  /*20201028*/
}
.TotalSearchBtn {
  position: absolute;
  top: 50%;
  right: -10px;
  color: #333;
  font-weight: 500;
  width: 46px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
  padding-top: 46px;
}
a.TotalSearchBtn:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #333;
  top: 0;
  border-radius: 100%;
  background-image: url(../images/main/ico_materials_srch.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px auto;
  box-shadow: 1px 5px 7px #33333336;
  left: 0;
}
a.TotalSearchBtn:hover:before {
  background: url(../images/main/ico_materials_srch.png) no-repeat center / 12px auto, linear-gradient(52deg, #ff6b33 0%, #ee3385 100%) 0% 0% no-repeat;
}
@media (max-width: 1160px) {
  .TotalSearchBtn {
    position: static;
    display: block;
    width: 250px;
    text-align: center;
    background: #222;
    border-radius: 40px;
    height: 50px;
    padding-top: 0;
    border: 1px solid #dfdfdf;
    color: #fff;
    line-height: 50px;
    margin: 17px auto;
    font-size: 16px;
  }
  a.TotalSearchBtn:before {
    content: none;
  }
  .TotalSearchBtn span {
    padding-right: 15px;
    background-image: url(../images/search-btn.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    background-size: auto 14px;
  }
}
@media (max-width: 767px) {
  #mainContainer .cont02 .inner {
    padding: 30px 20px;
  }
  #mainContainer .cont02 .inner .dlList dl dd .txtList li {
    width: 100%;
  }
}

/* 3�� */
#mainContainer .cont03 {
  background: #f8f8f8;
}
#mainContainer .cont03 .inner {
  padding: 70px 50px;
}
#mainContainer .cont03 .inner .searchWrap {
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 45px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 4px 8px rgba(79, 84, 97, 0.2);
  background: #fff;
}
#mainContainer .cont03 .inner .searchWrap table {
  width: 100%;
}
#mainContainer .cont03 .inner .searchWrap table th,
#mainContainer .cont03 .inner .searchWrap table td {
  padding: 19px 15px;
  height: 88px;
}
#mainContainer .cont03 .inner .searchWrap table th {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  background: transparent linear-gradient(65deg, #ff6b33 0%, #ee3385 100%) 0% 0% no-repeat padding-box;
}
#mainContainer .cont03 .inner .searchWrap table th span {
  display: inline-block;
  padding-left: 45px; /*20201028*/
  background: url("../images/main/ico04.png") no-repeat left center;
  background-size: 30px auto;
  text-align: left; /*20201028*/
}
#mainContainer .cont03 .inner .searchWrap table th + td {
  padding-left: 20px;
}
#mainContainer .cont03 .inner .searchWrap table td:last-child {
  padding-right: 30px;
}
#mainContainer .cont03 .inner .searchWrap table td .selectBox {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  background: #fff;
}
#mainContainer .cont03 .inner .searchWrap table td .selectBox label {
  display: block;
  overflow: hidden;
  padding: 0 25px 0 10px;
  line-height: 32px;
  font-size: 19px;
  font-weight: 700;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: url("../images/main/bl-arrow.png") no-repeat right 11px center;
  background-size: 10px auto;
}
#mainContainer .cont03 .inner .searchWrap table td .selectBox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#mainContainer .cont03 .inner .searchWrap table td .searchBox {
  position: relative;
}
#mainContainer .cont03 .inner .searchWrap table td .searchBox input {
  padding: 0 56px 0 20px;
  border-radius: 25px;
  border: 1px solid #aaa;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #767676;
}
#mainContainer .cont03 .inner .searchWrap table td .searchBox .btnSearch {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 100%;
  text-indent: -9999px;
  background: url("../images/common/btn-search.png") no-repeat right 20px center;
  background-size: 26px;
}
#mainContainer .cont03 .inner .bannerArea {
  overflow: hidden;
}
#mainContainer .cont03 .inner .bannerArea > a {
  padding: 25px 34px;
  float: left;
  width: 50%;
  height: 152px;
}
#mainContainer .cont03 .inner .bannerArea > a p {
  line-height: 29px;
  font-size: 20px;
  color: #fff;
}
#mainContainer .cont03 .inner .bannerArea > a strong {
  display: block;
  line-height: 41px;
  font-size: 28px;
  color: #fff;
  font-weight: 400;
}
#mainContainer .cont03 .inner .bannerArea > a strong span {
  font-weight: 900;
}
#mainContainer .cont03 .inner .bannerArea > a > span {
  display: inline-block;
  margin-top: 10px;
  padding: 0 34px 4px 20px;
  border: 1px solid #fff;
  border-radius: 14px;
  line-height: 22px;
  font-size: 16px;
  color: #fff;
  background: url("../images/main/ico-arrow.png") no-repeat right 19px center;
  background-size: 5px auto;
}
#mainContainer .cont03 .inner .bannerArea > a.banner01 {
  background: url("../images/main/img0101.png") no-repeat center;
  background-size: cover;
}
#mainContainer .cont03 .inner .bannerArea > a.banner02 {
  background: url("../images/main/img0102.png") no-repeat center;
  background-size: cover;
}
@media (max-width: 1160px) {
  #mainContainer .cont03 .inner {
    padding: 50px 20px;
  }
  #mainContainer .cont03 .inner .searchWrap {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
  }
  #mainContainer .cont03 .inner .searchWrap table,
  #mainContainer .cont03 .inner .searchWrap table tbody,
  #mainContainer .cont03 .inner .searchWrap table tbody tr,
  #mainContainer .cont03 .inner .searchWrap table tbody tr th,
  #mainContainer .cont03 .inner .searchWrap table tbody tr td {
    display: block;
  }
  #mainContainer .cont03 .inner .searchWrap table {
    position: relative;
    padding-bottom: 90px;
  }
  #mainContainer .cont03 .inner .searchWrap table tr {
    overflow: hidden;
  }
  #mainContainer .cont03 .inner .searchWrap table th,
  #mainContainer .cont03 .inner .searchWrap table td {
    float: left;
    padding: 20px 10px;
    height: auto;
  }
  #mainContainer .cont03 .inner .searchWrap table td {
    width: 33.33333%;
  }
  #mainContainer .cont03 .inner .searchWrap table th {
    padding: 0;
    width: 100%;
    line-height: 56px;
  }
  #mainContainer .cont03 .inner .searchWrap table th + td {
    padding-left: 20px;
  }
  #mainContainer .cont03 .inner .searchWrap table th + td + td + td {
    padding-right: 20px;
  }
  #mainContainer .cont03 .inner .searchWrap table td:last-child {
    position: absolute;
    bottom: 32px;
    left: 0;
    padding: 0 20px;
    width: 100%;
  }
  #mainContainer .cont03 .inner .bannerArea > a {
    padding: 20px 30px;
  }
  #mainContainer .cont03 .inner .bannerArea > a p {
    line-height: 24px;
    font-size: 18px;
  }
  #mainContainer .cont03 .inner .bannerArea > a strong {
    line-height: 36px;
    font-size: 26px;
  }
  #mainContainer .cont03 .inner .bannerArea > a > span {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  #mainContainer .cont03 .inner {
    padding: 30px 20px 40px;
  }
  #mainContainer .cont03 .inner .searchWrap table th,
  #mainContainer .cont03 .inner .searchWrap table td {
    float: none;
    padding: 20px;
  }
  #mainContainer .cont03 .inner .searchWrap table td {
    width: 100%;
  }
  #mainContainer .cont03 .inner .searchWrap table th {
    padding: 0;
    font-size: 16px;
  }
  #mainContainer .cont03 .inner .searchWrap table th span {
    padding-left: 36px;
    background-size: 26px auto;
  }
  #mainContainer .cont03 .inner .searchWrap table th + td {
    padding-left: 20px;
  }
  #mainContainer .cont03 .inner .searchWrap table td .selectBox label {
    font-size: 18px;
  }
  #mainContainer .cont03 .inner .searchWrap table td .searchBox input {
    padding: 0 50px 0 20px;
    border-radius: 23px;
    height: 46px;
    font-size: 14px;
  }
  #mainContainer .cont03 .inner .searchWrap table td .searchBox .btnSearch {
    width: 50px;
    background-size: 24px;
  }
  #mainContainer .cont03 .inner .bannerArea > a {
    display: block;
    padding: 32px 10px;
    float: none;
    width: 100%;
    height: 140px;
  }
  #mainContainer .cont03 .inner .bannerArea > a p {
    line-height: 20px;
    font-size: 14px;
  }
  #mainContainer .cont03 .inner .bannerArea > a strong {
    line-height: 29px;
    font-size: 20px;
  }
  #mainContainer .cont03 .inner .bannerArea > a > span {
    margin-top: 10px;
    padding: 0 26px 2px 20px;
    border-radius: 12px;
    line-height: 22px;
    font-size: 14px;
    background-position: right 16px center;
    background-size: 4px auto;
  }
  #mainContainer .cont03 .inner .bannerArea > a.banner01 {
    background-image: url("../images/main/img0101-m.png");
  }
  #mainContainer .cont03 .inner .bannerArea > a.banner02 {
    background-image: url("../images/main/img0102-m.png");
  }
}
