/* fonts */
/* ============================== HelveticaNeueLTStd ============================================ */
@font-face {
    font-family:'helvetica';
    font-weight: 350;
    src: url('../fonts/HelveticaNeueLTStd-Th.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 450;
    src: url('../fonts/HelveticaNeueLTStd-Lt.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 550;
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 650;
    src: url('../fonts/HelveticaNeueLTStd-Md.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 750;
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 850;
    src: url('../fonts/HelveticaNeueLTStd-Hv.otf') format('truetype');
}

@font-face {
    font-family:'helvetica';
    font-weight: 950;
    src: url('../fonts/HelveticaNeueLTStd-Blk.otf') format('truetype');
}


/* ============================== Albra text ======================================= */

@font-face {
    font-family:'Albra_text';
    font-weight: 350;
    src: url('../fonts/Albra_Text_Light.otf') format('truetype');
}

@font-face {
    font-family:'Albra_text';
    font-weight: 450;
    src: url('../fonts/Albra_Text_Semi.otf') format('truetype');
}

@font-face {
    font-family:'Albra_text';
    font-weight: 550;
    src: url('../fonts/Albra_Text_Regular.otf') format('truetype');
}

@font-face {
    font-family:'Albra_text';
    font-weight: 650;
    src: url('../fonts/Albra_Text_Medium.otf') format('truetype');
}

@font-face {
    font-family:'Albra_text';
    font-weight: 750;
    src: url('../fonts/Albra_Text_Bold.otf') format('truetype');
}

@font-face {
    font-family:'Albra_text';
    font-weight: 850;
    src: url('../fonts/Albra_Text_Black.otf') format('truetype');
}

/* ============================== Albra ======================================= */

@font-face {
    font-family:'Albra';
    font-weight: 350;
    src: url('../fonts/Albra_Light.otf') format('truetype');
}

@font-face {
    font-family:'Albra';
    font-weight: 450;
    src: url('../fonts/Albra_Semi.otf') format('truetype');
}

@font-face {
    font-family:'Albra';
    font-weight: 550;
    src: url('../fonts/Albra_Regular.otf') format('truetype');
}

@font-face {
    font-family:'Albra';
    font-weight: 650;
    src: url('../fonts/Albra_Medium.otf') format('truetype');
}

@font-face {
    font-family:'Albra';
    font-weight: 750;
    src: url('../fonts/Albra_Bold.otf') format('truetype');
}

@font-face {
    font-family:'Albra';
    font-weight: 850;
    src: url('../fonts/Albra_Bold.otf') format('truetype');
}

/* ============================== recife ======================================= */
@font-face {
    font-family:'recife';
    font-weight: 550;
    src: url('../fonts/RecifeDisplay-Book.ttf') format('truetype');
}


/* ============================== reset ========================== */
* {
    margin: 0;
    padding:0;
    border:0;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "helvetica", sans-serif;
    font-weight: 650;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background: #000;
    height: 100vh;
}
ol, ul, li {
	list-style: none;
    margin: 0;
    padding:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

button {
    text-indent: -9999px;
    background: none;
    border:0;
}