@charset "utf-8";

#wrap {max-width:100%; width:100%}
#wrap.dim:after{content:''; position:fixed; left:0; top:0; right:0; bottom:0; background-color:#000; opacity:0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=60); -khtml-opacity: 0.7; -moz-opacity: 0.7; z-index:9}


/* HEADER */
#header {position:fixed; top:0; left:0; z-index:9999; max-width:100%; background:none; width:100%}
#header .inner > div {position:relative; margin:52px auto 0; padding:14px 0 15px; max-width:100%; width:100%; height:90px}
#header .inner > div:after {display:block; content:""; clear:both}
#header.scroll .inner > div {background-color:rgba(0,0,0,0.7); transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}

#header .inner > div h1 {position:relative; margin:0 auto; width:1280px; z-index:2}
#header .inner > div h1 a {display:block; width:249px}
#header .inner > div h1 a img {width:249px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#header .inner > div #gnb {position:relative; top:-77px; left:0; z-index:1; width:100%}
#header .inner > div #gnb:before {display:block; content:""; position:absolute; width:100%; height:90px; z-index:-1}
#header .inner > div #gnb .searchBox {display:none}
#header .inner > div .gnbIcon {display:none} 
#header .gnbList {margin:0 auto; width:1280px; text-align:right}
#header .gnbList ul > li > div {display:none}
#header .gnbList:after {display:none; content:""; position:absolute; left:0; top:59px; width:100%; height:415px; background:#fafafa}

#header .gnbLayout > ul {display:inline-flex; justify-content:flex-end; padding-top:13px}
#header .gnbLayout > ul > li {text-align:center}
#header .gnbLayout > ul > li:last-child a {padding-right:0; text-align:center}
#header .gnbLayout > ul > li > a {position:relative; display:block; padding:0 30px; padding-top:16px; line-height:32px; font-size:18px; font-weight:500; color:#fff}
#header .gnbLayout > ul > li > .boxList {display:none; padding-top:20px}
#header .gnbLayout > ul > li > .boxList.on {display:block}
#header .gnbLayout > ul > li > div > .menu {padding:25px 0 75px; text-align:center}
#header .gnbLayout > ul > li > div > .menu li {padding:10px 0}
#header .gnbLayout > ul > li > div > .menu a {display:block; line-height:28px; font-size:16px; color:#fff}
#header .gnbLayout > ul > li > div > .menu.v2 a {margin-left:25px}

#header .util {position:absolute; left:0; top:0; right:0; padding:0 20px; background-color:rgba(0,0,0,0.3)}
#header .util > ul {margin:0 auto; max-width:100%; width:1280px; text-align:right}
#header .util > ul > li {display:inline-block}
#header .util > ul > li > a {padding:0 10px}
#header .util > ul > li:last-child a {padding-right:0}
#header .util > ul > li + li a:before {display:inline-block; content:""; margin:0 10px; vertical-align:middle; border-radius:4px; width:4px; height:4px; background-color:#fff}
#header .util > ul > li > a {display:block; padding:14px 0; line-height:24px; font-size:15px; font-weight:400; color:#fff}

#header:hover .inner > div #gnb {background:rgba(0,0,0,0.5)}
#header:hover .inner > div #gnb:before {background:linear-gradient(90deg, rgba(7,98,216,1) 0%, rgba(42,59,125,1) 100%); z-index:-1}
#header:hover .util {background-color:#fff}
#header:hover .util > ul > li > a {color:#2A3B7D}
#header:hover .util > ul > li + li a:before {background-color:#2A3B7D}

/* SUBPAGE HEADER */
#header.login .inner > div {border-bottom:1px solid #ccc}
#header.login .inner h1 a {display:block; width:249px; height:63px; text-indent:-9999px; background:url("../images/common/sub_logo.png") no-repeat center; background-size:249px auto}
#header.login:hover .inner h1 a {width:249px; height:63px; background:url("../images/common/logo.png") no-repeat center; background-size:249px auto}
#header.login .gnbLayout > ul > li > a {color:#000}
#header.login:hover .gnbLayout > ul > li > a {color:#fff}

#header.login .util {background-color:#ddd}
#header.login .util ul li a {color:#2A3B7D}
#header.login .util ul li a:before {background-color:#2A3B7D}
#header.login:hover .util {background-color:#fff} 

@media all and (max-width:1360px) {
	#header .inner > div #gnb {display:none; position:fixed; top:0; left:unset; right:0; z-index:9999; width:260px; height:100%; background:#fff}
	#header .inner > div #gnb.on {display:block; z-index:2}
	#header .inner > div #gnb:before {height:auto}
	#header .inner > div #gnb .searchBox {display:block; position:absolute; left:12px; top:12px}
	#header .inner > div #gnb .searchBox input {position:relative; display:inline-block; padding:10px 34px 10px 12px; border:none; width:200px; height:40px; border-radius:20px; font-size:14px; color:#111; background-color:#F6F6F6}
	#header .inner > div #gnb .searchBox a.search {display:block; position:absolute; right:15px; top:7px; width:24px; height:24px; text-indent:-9999px; background:url("../images/ico_search.png") no-repeat right center; background-size:24px auto}
	#header .inner > div .gnbIcon {display:block; position:absolute; top:30px; right:30px; width:30px; height:30px; text-indent:-9999px; z-index:3; background:url("../images/gnbIcon.png") no-repeat center; background-size:30px auto; cursor:pointer}
	#header .inner > div .gnbIcon.v2 {background:url("../images/sub_gnbIcon.png") no-repeat center; background-size:30px auto}
	#header .inner > div .gnbIcon.on {top:-35px; right:10px; width:30px; height:30px; background-image:url("../images/btn_close.png"); z-index:2}

	#header .gnbList {margin:0; padding-top:65px; padding-bottom:33px; width:100%}
	#header .gnbLayout > ul {display:inline-block; justify-content:unset; padding-top:0; width:100%}
	#header .gnbLayout > ul > li {border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; text-align:left}
	#header .gnbLayout > ul > li.curr {background:linear-gradient(90deg, rgba(7,98,216,1) 0%, rgba(42,59,125,1) 100%); z-index:-1}
	#header .gnbLayout > ul > li.curr a {color:#fff}
	#header .gnbLayout > ul > li + li {border-top:none}
	#header .gnbLayout > ul > li:last-child a {padding:15px 30px; text-align:left}
	#header .gnbLayout > ul > li > a {position:relative; display:block; padding:15px 30px; line-height:24px; font-size:16px; font-weight:400; color:#111}
	#header .gnbLayout > ul > li > a:after {display:block; content:""; position:absolute; right:10px; top:15px; width:24px; height:24px; background:url("../images/ico_plus.png") no-repeat center; background-size:24px auto}
	#header .gnbLayout > ul > li.curr > a:after {background:url("../images/ico_minus.png") no-repeat center; background-size:24px auto}

	#header .gnbLayout > ul > li > .boxList {display:none; padding-top:0}
	#header .gnbLayout > ul > li > .boxList.on {transform:translateX(0)}
	#header .gnbLayout > ul > li > .boxList > .menu {padding:0; text-align:left}
	#header .gnbLayout > ul > li > .boxList > .menu li {padding:10px 35px; border:1px solid #efefef; background-color:#f6f6f6}
	#header .gnbLayout > ul > li > .boxList > .menu li:last-child {border-bottom:none}
	#header .gnbLayout > ul > li > .boxList > .menu a {display:block; line-height:24px; font-size:14px; color:#666}
	#header .gnbLayout > ul > li > .boxList > .menu li.curr a {font-weight:500; color:#2A3B7D}
	#header .gnbLayout > ul > li > .boxList > .menu.v2 a {margin-left:0; padding:0}

	#header:hover .util {background-color:rgba(0,0,0,0.3) !important}
	#header:hover .util > ul > li > a {color:#fff}
	#header:hover .util > ul > li + li a:before {background-color:#fff}
	#header:hover .inner > div #gnb {background-color:#fff}

	#header.login:hover .inner h1 a {width:249px; height:63px; background:url("../images/common/sub_logo.png") no-repeat center; background-size:249px auto}
	#header.login .gnbLayout > ul > li.curr a {color:#fff}
	#header.login:hover .gnbLayout > ul > li.curr a {color:#fff}
	#header.login:hover .gnbLayout > ul > li > a {color:#000}
	#header.login .gnbLayout > ul > li > .boxList > .menu a {color:#666}
	#header.login:hover .gnbLayout > ul > li > .boxList > .menu a {color:#666}
	#header.login:hover .util {background-color:#ddd !important}
	#header.login:hover .util ul li a {color:#2A3B7D} 
	#header.login:hover .util ul li a:before {background-color:#2A3B7D} 

}

@media all and (max-width:1300px){
	#header .inner > div h1 {padding-left:20px}
}

@media all and (max-width:1161px) {
	#header .inner > div h1 a {width:210px}
	#header .inner > div h1 a img {width:210px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#header .inner > div .gnbIcon {width:25px; height:25px; background-size:25px auto}

}

@media all and (max-width:768px) {
	#header .util > ul > li > a {padding:15px 0; line-height:22px; font-size:12px}
	#header .util > ul > li + li a:before {margin:0 5px; border-radius:1.5px; width:3px; height:3px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
}

@media all and (max-width:320px) {
	#header .inner > div {height:70px}
	#header .inner > div h1 a {width:150px}
	#header .inner > div h1 a img {width:150px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#header .inner > div .gnbIcon {top:20px; right:20px}
}

/* FOOTER */
#footer{background-color:#F6F6F6; padding:25px 0; position:relative}
#footer .inner {margin:0 auto; padding:0 20px; max-width:100%; width:1280px}
#footer .inner:after {display:block; content:""; clear:both}
#footer .inner .ftLogo {float:left; padding:15px 0; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#footer .inner .ftLogo a {display:block; width:249px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#footer .inner .ftLogo a img {width:100%}
#footer .inner .ftInfo {float:left; padding:20px 0; margin-left:80px; text-align:left; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#footer .inner .ftInfo span {display:block; line-height:24px; font-size:14px; font-weight:400; color:#666}

#footer .inner .ftContact {float:right}
#footer .inner .ftContact span {display:block; line-height:24px; font-size:14px; font-weight:400; color:#666}
#footer .inner .ftContact .contact:before {display:inline-block; content:""; margin:0 5px; vertical-align:middle; width:16px; height:16px; background:url("../images/ico04.png") no-repeat center; background-size:16px auto}
#footer .inner .ftContact .mail:before {display:inline-block; content:""; margin:0 5px; vertical-align:middle; width:16px; height:16px; background:url("../images/ico03.png") no-repeat center; background-size:16px auto}
#footer .inner .ftContact .snsWrap {margin-top:10px}
#footer .inner .ftContact .snsWrap:after {display:block; content:''; clear:both}
#footer .inner .ftContact .snsWrap a {float:left; display:block; width:36px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#footer .inner .ftContact .snsWrap a img {width:100%}
#footer .inner .ftContact .snsWrap a + a {margin-left:14px}

@media all and (max-width:1161px){
	#footer .inner .ftLogo {float:none; padding:0; padding-bottom:10px; text-align:center; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#footer .inner .ftLogo a {display:inline-block}
	#footer .inner .ftInfo {float:none; margin-left:0; padding:10px 0; text-align:center; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#footer .inner .ftContact {float:none; margin-top:10px; text-align:center}
	#footer .inner .ftContact .snsWrap a {float:none; display:inline-block; text-align:center; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
}

@media all and (max-width:768px) {
	#footer .inner .ftLogo a {width:210px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#footer .inner .ftContact {margin-top:15px}
}

@media all and (max-width:320px) {
	#footer .inner .ftInfo,
	#footer .inner .ftContact {text-align:left}
}